<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arc Project</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="icon" href="/images/favicon-32x32.png" type="image/x-icon">
</head>

<body>
    <div class="container-grid">
        <a id="start" class="btn btn-sm btn-pill btn-outline-info controll-pill" href="#">Estado inicial</a>
        <a id="end" class="btn btn-sm btn-pill btn-outline-info controll-pill" href="#">Estado inicial</a>
    </div>

    <!-- <button type="button" class="btn btn-outline-info button-pill">Info</button> -->
</body>

<style>
    body {
        margin: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    body {
        background-color: #08415C;
    }


    .btn {
        background-color: #0F78A9;
        color: #EEE5E9;
        font-weight: 900;
    }

    .container-grid {
        width: 100%;
        height: 100%;
        /* Add your background pattern here */
        background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
        background-size: 30px 30px;
        background-position: -5px -5px
    }


    .card {
        width: 180px;
        height: 300px;
        border-radius: 5px;
        border: 1px solid gainsboro;
        overflow: hidden;
        background: white;
    }

    .card .header {
        background: transparent;
        text-align: center;
    }

    .card .main {
        width: 100%;
        height: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 20px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const cards = document.querySelectorAll('.controll-pill');

        cards.forEach((card) => {
            Draggable.create(card, {
                type: "x,y",
                bounds: window,
                // inertia: true,
                onDragEnd: function () {
                    updateLine();
                },
                onDrag: function () {
                    updateLine();
                }
            });

        });

        const line = new LeaderLine(
            document.getElementById('start'),
            document.getElementById('end'),{
                startPlug: 'behind',
                endPlug: 'behind',
                color: '#0F78A9',
                size: 2,
                dash: { animation: true }
            
            }
        );



       
        cards.forEach((card) => {
            card.addEventListener('drag', updateLine);
        });



        function updateLine() {
            line.position();
        }

    });

</script>