<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arc Project</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="icon" href="/images/favicon-32x32.png" type="image/x-icon">
</head>

<body>


    <!-- <button type="button" class="btn btn-outline-info button-pill">Info</button> -->
    <a class="btn btn-sm btn-pill btn-outline-info controll-pill" href="#">Estado inicial</a>
    <a class="btn btn-sm btn-pill btn-outline-info controll-pill" href="#">Estado inicial</a>
</body>

<style>
    body {
        margin: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    body {
        background-color: #08415C;
    }

    .btn {
        background-color: #0F78A9;
        color: #EEE5E9;
        font-weight: 900;
    }


    .card {
        width: 180px;
        height: 300px;
        border-radius: 5px;
        border: 1px solid gainsboro;
        overflow: hidden;
        background: white;
    }

    .card .header {
        background: transparent;
        text-align: center;
    }

    .card .main {
        width: 100%;
        height: calc(100% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 20px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/Draggable.min.js"></script>

<script>

    const cards = document.querySelectorAll('.controll-pill')

    cards.forEach((card) => {
        const header = card.querySelector('.header')

        Draggable.create(card, {
            type: "x,y",
            bounds: window,
            trigger: header
            // inertia: true,
        });

    })


</script>